<div class="wrapper">
  <div class="wrapper-left">
    <div class="back-box" style="top: initial">
      <%= link_to root_path do %>
        <%= image_tag("m/menuBack.svg", class:'icon-small back') %>
      <% end %>
    </div>
    <h1 class="title" style="top: initial">Register</h1>
    <div class="wrapper-left-bg">
      <%= image_tag("bg/bgSketch.png") %>
    </div>
  </div>
  <div class="wrapper-right">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages" , resource: resource %>
      <!-- Default avatar image -->
      <div class="field">
        <%= image_tag("default_profile_photo.svg", id: "selectedAvatar", class: 'icon-normal') %>
        <%= button_tag "Custom your avatar", autofocus: true, id: "avatarButton" %>
      </div>
      <dialog class="modal" id="avatarModal">
        <div class="modal-dialog">
          <div class="modal-header">
            <h2 class="form-pictures-label"> Pick an Image </h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
              <span aria-hidden="true"><%= image_tag("m/menuClose.svg", class:'icon-small') %></span>
            </button>
          </div>
          <div class="modal-content">
              <% Dir.glob("app/assets/images/u/*").each do |file| %>
                <div class="modal-picture-box">
                  <%= f.radio_button :profile_photo, "u/" + file.split('/').last, { checked: false, class: 'avatarOption modal-picture-checkbox', style: "position: absolute; top: 35%; left: 35%; width: 100%; height: 100%;" } %>
                  <%= image_tag("u/" + file.split('/').last, class: 'icon-normal') %>
                </div>
              <% end %>
          </div>
        </div>
      </dialog>
      <div class="form-inputs">
        <br>
        <%= f.text_field :name, placeholder: 'Full name', autocomplete: "name", class: 'form-input' %>
      </div>
      <div class="form-inputs">
        <%= f.email_field :email, placeholder: 'Email', autocomplete: "email", class: 'form-input' %>
      </div>
    
      <div class="form-inputs">
        <% if @minimum_password_length %>
          <em style="text-align: right; font-size: var(--fs-smaller);">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, placeholder: 'Password', autocomplete: "new-password", class: 'form-input' %>
      </div>
      <div class="form-inputs">
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', autocomplete: "new-password", class: 'form-input' %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: 'form-submit' %>
      </div>
    <% end %>
  </div>
</div>

<script>
    document.getElementById('avatarButton').addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('avatarModal').showModal();
    });

    document.getElementById('closeModal').addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('avatarModal').close();
    });

  var avatarOptions = document.getElementsByClassName('avatarOption');
  for (var i = 0; i < avatarOptions.length; i++) {
    avatarOptions[i].addEventListener('change', function() {
      document.getElementById('selectedAvatar').src = '/assets/' + this.value;
    });
  }
</script>