<div class="wrapper">
  <div class="wrapper-left">
    <h1>Profile</h1>
    <div class="profile-informations">
      <h2>Personal Information</h2>
      <p>
        Name: <b><%= current_user.name %></b>
      </p>
      <p>
        Email: <b><%= current_user.email %></b>
      </p>
      <p>
        Created at: <b><%= current_user.created_at.strftime("%d %b %Y") %></b>
      </p>
    </div>
    <br>
    <div class="profile-buttons-actions">
        <%= link_to( 'Edit Profile' , edit_user_path(@user) , class:'add-button')%>
        <%= button_to('Delete Account' , user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn-account-delete') %>
    </div>
  </div>
  <div class="wrapper-right">
    <h2>Statistics</h2>
    <div class="stats-header">
      <p>
        Total Categories created: <b><%= @total_groups %></b>
      </p>
      
      <p>
        Total Expenses: <b>$<%= @total_expenses %></b>
      </p>
    </div>

    <div>
      <h3>Total Expenses by Category:</h3>
      <%= pie_chart @total_expenses_by_group, loading: "Loading...", empty: "No data" %>
    </div>
    <br>
    <div>
      <h3>Total Expenses by Month:</h3>
      <%= area_chart @total_expenses_by_month, loading: "Loading...", empty: "No data" %>
    </div>
  </div>
</div>
