<div class="wrapper">
  <div class="wrapper-left">
    <div class="back-box">
      <%= link_to user_group_path(current_user, @group) do %>
        <%= image_tag("m/menuBack.svg", class:'icon-small back') %>
      <% end %>
    </div>
    <h1>
      New <%= @group.name %> expense
    </h1>
  </div>
  <div class="wrapper-right">
    <%= form_for([@user, @group, @expense], url: user_group_expenses_path(current_user, @group)) do |f| %>

      <div class="form-inputs">
        <%= f.text_field :name, placeholder: 'Expense Name', autofocus: true, class: 'form-input' , required: true %>
          <%= f.number_field :amount, placeholder: 'Amount in $USD', step: '0.00001', class: 'form-input', required: true %>
      </div>

      <div class="actions">
        <%= f.submit 'Create', class: 'form-submit' %>
      </div>
    <% end %>
  </div>
</div>
