<nav>
  <ul>
    <li>
      <div class="menu-profile">
        <%= image_tag(current_user.profile_photo, class: "icon icon-large") %>
        <span class="title">
          <%= current_user.name %>
        </span>
      </div>
    </li>
    <li>
      <%= link_to root_path do %>
        <%= image_tag("m/menuHome.svg", class:'icon-small menu-img') %>
        <span class="title">
          Home
        </span>
      <% end %>
    </li>
    <li>
      <%= link_to statistics_path do %>
        <%= image_tag("m/menuStatistic.svg", class:'icon-small menu-img') %>
        <span class="title">
          Statistics
        </span>
      <% end %>
    </li>
    <li>
      <%= link_to profile_path do %>
        <%= image_tag("m/menuSettings.svg", class:'icon-small menu-img') %>
        <span class="title">
          Profile
        </span>
      <% end %>
    </li>
  </ul>
  <div class="box-buttons-actions">
    <%= button_to 'Log out', destroy_user_session_path, method: :delete, class:'add-button' %>
  </div>
</nav>
